.article{
  padding: 1rem;
  border: 1px solid #ffe;
  margin: 3px;
  a{
    font-size: 1.5rem;
    transition: all 0.8s ease-in 0.2s;
    &:hover{
      background-color: rgba(207,027,207, .7);
    }
  }
}
